<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
<h1> Profile Page </h1>

<h1> Hello, Welcome <%= name %> </h1>

<p>Your Email id -  <%= email %></p>
</body>
</html>

